<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415127237966-l1n0jk8jstgbrqchk43ttqmepc0ijttn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415127237966-l1n0jk8jstgbrqchk43ttqmepc0ijttn</string>
	<key>API_KEY</key>
	<string>AIzaSyAF3XQBTJejAuW7EMx7iNAokOi13ex3Ivs</string>
	<key>GCM_SENDER_ID</key>
	<string>415127237966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterchatappwithfirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterchatappwithfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterchatappwithfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415127237966:ios:3817ecd1dc4a1a73011a1f</string>
</dict>
</plist>